@import 'theme/variables.css';

/* Force hide ion-page-hidden */
.ion-page.ion-page-hidden,
app-login.ion-page-hidden,
app-register.ion-page-hidden {
  display: none !important;
}

app-root {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { margin: 0; padding: 0; }

ion-content {
  --padding-top: var(--ion-safe-area-top, 0);
  --padding-bottom: var(--ion-safe-area-bottom, 0);
}
